.App{
  text-align: center;
}

body{
  font-family: 'Dancing Script', cursive;
}

h1 {
  font-family: 'Limelight', cursive;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
